.btn-add-size {
  width: 45px;
  float: right;
}

.btn-delete-size {
  width: 70px;
}

.btn-edit-margin {
  padding: 0.5rem 0.5rem 0.5rem;
  width: 65px;
}

.btn-delete-margin {
  padding: 0.5rem 0.5rem 0.5rem;
  width: 80px;
}

td,
.srno {
  padding: 0.9rem 0.5rem 0.5rem;
}